/** 

color 1 : #fa8072;
color 2 : #ffa07a;

Titre 

 font-family: julius sans one

text 
 font-family: lato   

**/

/** Global **/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One:300,400|Lato:300,400&display=swap');

p {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

/** Navigation Start **/ 

nav a, nav p, nav img, nav div, nav li.nav-social {
    user-select: none;
}

.nav-social a {
    width: 50%;
}

nav ul {
    list-style:none;
}

.navigation-principale {
    background: rgba(255,255,255,0.5);
    position: fixed!important;
    z-index: 8000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 20px;  
}

.navigation-principale .nav-item {
    position: relative;
    left: 10px;
}

.nav-header .nav-item:last-child {
    margin-bottom: 15px;
}

.nav-header, .menu > .menu-item {
    font-size: 1.2rem;
    font-family: 'Julius Sans One', sans-serif; 
    
}
.nav-header p {
    font-weight: 500;
    color: black;
}

.nav-header a:hover, .menu-item a:hover {
    text-decoration:none;
}

.nav-item, .menu-item {
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif; 
}

div.menu-arrow p, li a p {
    font-family: 'Julius Sans One', sans-serif; 
}

.nav-item a, .menu-item a {
    transition: color 0.3s;
}

.nav-item a:hover, .menu-item a:hover {
    text-decoration: none;
}

.nav-social {
    position: absolute;
    bottom: 7vh;
    text-align: center;
    right: 50%;
    margin-right: -12px;
}

.nav-social a {
    height: 15px;
    width: 25%;
    padding-right: 15px;
}
.nav-social a:hover {
    text-decoration: none;
}

.nav-social a.mail img {
    height: 20px;
}

.menu-arrow p {
    display: inline-block;
}

.menu-arrow img, .menu-arrow svg {
    transition: transform 0.5s;
    width: 13px;
}

.flip { 
    transform: rotate(-180deg);
    animation-duration: 0.5s;
}

.menu-arrow:hover {
    cursor: pointer;
}
.switch-lang {
    z-index:5000;
}
.switch-lang select {
    position: fixed;
    right: 15px;
    top: 15px;
    border:none;
    background:none;
    font-weight:600;
    text-decoration: underline;
    font-family: 'Julius Sans One', sans-serif;
}

.switch-lang select option {
    border:none;
    background:none;
    font-weight:500;
    font-family: 'Julius Sans One', sans-serif;
}

.switch-lang select option:hover {
    border:none;
    background:red;
    font-weight:500;
}
.switch-lang select {
    outline: none;
}

nav ul.top-level {
    margin-top: 2.5rem!important;
}

/* Icon 4 */

#nav-icon4 {
  width: 60px;
  top: 15px;
  position: absolute;
  right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: none;
    outline: none;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 70%;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}

/** Navigation End **/ 

/** Front page Start **/

.background-front {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/** Front page End **/

/** Artwork Serie Start **/
.title-serie {
    font-family: 'Julius Sans One', sans-serif; 
    text-align: center;
    margin-top:5vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 40%;
}

.item .artwork-serie {
    display: inline-block;
    margin-top: 5vh;
    position: relative;
}

.item .artwork-serie img { 
    height: 50vh;
    margin-right:10px;
}

.artwork-serie img:hover {
    opacity: 0.8!important; 
    animation-name: fadein;
    animation-duration: 0.5s;
}

.artwork-info {
    visibility: hidden;
}

.artwork-serie a:hover .artwork-info {
    visibility: visible;
    animation-name: visibleDesc;
    animation-duration: 0.5s;
}

.artwork-serie .artwork-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background: rgba(255,255,255,0.7);
    padding-bottom: 20px;
}
.container-skew .skew {
    transform: skew(0deg, -5deg);;
    background: rgba(255,255,255,0.7);
    height: 200px;
    width: 100%;
    bottom: -155px;
    position: absolute;
}

.container-skew {
    position: absolute;
    width: 100%;
    top: -85px;
    overflow: hidden;
    height: 85px;
}

.artwork-title, .artwork-desc {
    padding: 0 10px;
}

.artwork-serie owl-item:last-child img {
    margin-right: 0;
}

.main-content .row {
    flex-wrap: nowrap;
}

.main-content {
    min-height: 100vh;
}
.main-content p {
    margin: 0 5vh;
}

.main-content article {
    margin:5vh;
}

/* slider image */ 
.owl-one.owl-carousel .owl-item img {
    width:inherit;
}
.owl-carousel .owl-dots button {
    outline:none;
}
div.pp_default .pp_details .pp_nav,div.pp_default .pp_details .pp_description,div.pp_default .pp_details .pp_social {
    display:none!important;
}
div.pp_default .pp_details {
    position: absolute!important;
    top: 0;
}

.pp_content {
    height: inherit!important;
}

div.pp_default .pp_details .pp_close {
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    top: -50px;
    float: right;
}

div.pp_default .pp_content_container .pp_details {
    width: 100%!important;
}

.owl-stage .owl-item.active:last-child {
    margin-right: 0!important;
}
/* Masonry */
/* 3 columns by default */
.grid-item { 
    width: 50%;
    margin-bottom: 10px;
}

.gutter-sizer {  
    padding: 5px; 
}


@keyframes fadein {
  from {opacity: 1;}
  to {opacity: 0.8!important;}
}

@keyframes visibleDesc {
  from {opacity: 0;}
  to {opacity: 1;}
}

/** Artwork Serie End **/

/** Responsive Start **/

@media screen and (min-width: 768px) {
  /* 4 columns for larger screens */
  .grid-item { 
    width: 33.333%;
    margin-bottom: 10px;
    }
    
  .navigation-principale nav {
    height:100vh;
    }  
    
  .navigation-principale .navbar-brand {
    margin-bottom:3vh;
  }    
  .menu-arrow p {
    margin-bottom: 1.5rem;
  }
  .navbar-brand img.brand {
    max-width: 100%;
}

switch-lang select {
    position: fixed;
}

}


@media screen and (max-width: 768px) {

    .navbar-brand img.brand {
        max-width: 70%;
    }

    .main-content article {
        margin:1vh;
    }

    .switch-lang select {
        position: relative;
        top: 0;
        right: 0;
    }

    .nav-item {
        font-size: 1rem;
        font-family: 'Lato', sans-serif;
    }

    .title-serie {
        width: 100%;
    }

    .navigation-principale .navbar-brand {
        margin-bottom:0;
      }
    .menu-arrow p {
        margin-bottom: 0;
    }
    .pp_pic_holder.pp_default {
        width: 70%!important;
        left:15%!important;
    }
    .navbar-brand {
        width:200px;
    }  

    .switch-lang {
        position: absolute;
        bottom: -5vh;
        left: 35px;
    }

    .nav-social {
        position: absolute;
        bottom: -15vh;
        text-align: center;
        right: 50%;
        margin-right: -30px;
    }
    
    nav ul {
        background: rgba(255,255,255,1);
        padding:20px;
        position: relative;
    }
    .navigation-principale {
        padding: 0!important;
    }
    .navigation-principale nav {
        background: rgba(255,255,255,1);
        height: 100%;
        width: 100%;
        z-index: 20000;
    }
    .navigation-principale nav.open {
        height: 100vh;
    }
    .main-content {
        margin-top:12vh;
    }

    .nav-header p {
        font-size: 1.5rem;
    }
    .background-front {
    background-position: center;
    }

    div.pp_default .pp_next {
        right: -17%;
        position: relative;
    }

    div.pp_default .pp_previous {
        left: -17%;
        position: relative;
    }
}

/** Animation dropdown **/

/*Style for the first level menu bar*/

.submenu, ul.sub-menu { 
  transition: opacity 1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
}

.submenu.open, ul.sub-menu.open{
  opacity: 1;
  height: auto;
  margin-left: 25px;
  position: relative;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}
.submenu.open, ul.sub-menu.open a{
    transition: color 0.3s;
}

ul.nav-menu > .menu-item-has-children > a::after {
    content: "▼";
    padding-left: 3px;
}
li.menu-item-has-children > a {
    display: block;
    margin-bottom: 1.5rem;
}
.svg-menu {
    display: none;
}
.menu-item-has-children > a{
    position:relative;
}
.menu-item-has-children > a div.svg-menu {
    display: inline;
    position: relative;
    right: -5px;
    top: 0;
}
.menu-item-has-children > a div.svg-menu svg {
    transition: transform 0.5s;
    width: 13px;
}
.sub-menu.open .menu-item:last-child {
    margin-bottom: 15px;
}

/** PrettyPhoto **/

div.pp_default .pp_top, div.pp_default .pp_bottom  {
    height: 0!important;
    display: none;
}

div.pp_default .pp_expand {
    display: none!important;
}
.pp_gallery {
    display: none!important;
}

.pp_content #pp_full_res img {
    width: 100%!important;
    height: auto!important;
}

.pp_content .pp_hoverContainer {
    width: 100%!important;
    height: 100%!important;
}

div.pp_default .pp_content_container .pp_right, div.pp_default .pp_content_container .pp_left {
    padding: 0!important;
}

.pp_content {
    width: 100%!important
}

div.pp_default .pp_next {
    background: url(../images/right-arrow.png) center right no-repeat !important;
    right: -4rem;
    position: relative;
}

div.pp_default .pp_previous {
    background: url(../images/left-arrow.png) center left no-repeat !important;
    left: -4rem;
    position: relative;
}

.pp_loaderIcon {
    visibility: hidden;
}